# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Force binary files to always be treated as binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.mp4 binary
*.ico binary
*.pdf binary
